//
//
//
// $KEYPAD
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles for the keypad
// @end


$color_black: #000;
$color_white: #fff;
$color_light_gray: #ccc;



// <div> primary keypad container
.bc-keypad {
  overflow: hidden;
  text-align: center;

  .angular-ripple {
    background-color: rgba($color_black, .1);
  }

  // <button> number button
  &__button {
    background: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.5em;
    outline: 0;
    padding: 2%;
    position: relative;
    text-align: center;
    width: 30%;

    &:focus {
      outline: 0;
    }

    &::after {
      background-color: $color_light_gray;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      left: 10%;
      bottom: -1px;
      width: 80%;
    }

    // target '0'
    &:nth-of-type(10) {
      margin-left: 32%;
    }

    // target 'backspace' button
    &--backspace {
      background-size: 50%;
      background-position: 45% 50%;
      background-repeat: no-repeat;
      border: 0;
      position: relative;

      &::before {
        color: transparent;
        content: 'Delete';
        display: inline-block;
      }

      // icon
      svg {
        height: 44px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -50%);
        width: 50px;
      }
    }
  }

}

